name: TestWorkflow
on: push
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Get Code
              uses: actions/checkout@v3

            - name: Install NodeJS
              uses: actions/setup-node@v3
              with: 
                node-version: 18

            - name: Install dependencies
              run: npm ci
            
            - name: Run lint
              run: echo "Lint Completed"
            
    build:
        needs: lint
        runs-on: ubuntu-latest
        steps:
            - name: Get Code
              uses: actions/checkout@v3
            
            - name: Install NodeJS
              uses: actions/setup-node@v3
              with: 
                node-version: 18

            - name: Install dependencies
              run: npm ci
            
            - name: Build Package
              run: npm run build
            
            - name: Deploy
              run: echo "Deploying....."
            
    test:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Get Code
              uses: actions/checkout@v3

            - name: Install NodeJS
              uses: actions/setup-node@v3
              with: 
                node-version: 18

            - name: Install dependencies
              run: npm ci
            
            - name: Run tests
              run: |
                npm test
                echo "Test Completed"

